@model List<Size>
@{
    int count = 0;
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Size Table</h4>
                    <a asp-action="create" asp-controller="size" class="btn btn-success ">Create Size</a>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th> Name</th>
                                    <th> Products Count</th>
                                    <th> Settings</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Size size in Model)
                                {
                                    count++;
                                    <tr>
                                        <td> @count</td>
                                        <td> @size.Name </td>
                                        <td> @size.ProductSizes.Count </td>
                                        <td>
                                            <a asp-action="update" asp-controller="size" asp-route-id="@size.Id" class="btn btn-info "> <i class="mdi mdi-pen"></i> Update</a>
                                            <a asp-action="delete" asp-controller="size" asp-route-id="@size.Id" class="btn btn-danger  "> <i class="mdi mdi-delete"></i> Delete</a>
                                            <a asp-action="details" asp-controller="size" asp-route-id="@size.Id" class="btn btn-secondary "> <i class="mdi mdi-alert-box"></i> Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>